.about_ach{
    margin-top: 3rem;

}
.about_ach-container{ 
    display: grid;
    grid-template-columns: 40% 60%;
    gap:5rem;
}
.about_ach-right > p { 
    margin: 1.6rem 0 2.5rem ;
     
}

.ach_cards { 
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1.5rem;
}

.ach_card { 
    background: var(--color-bg1);
    padding: 1.6rem;
    border-radius: 1rem;
    text-align: center;

}